<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Shuffle</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Overview</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Join The Mix!</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How It Works</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <%=image_tag("1.jpg", class: "img-circle img-responsive") %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 1</h4>
                                <h4 class="subheading">Opt in!</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Entering your name and email below to join the shuffle.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <%=image_tag("2.jpg", class: "img-circle img-responsive") %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 2</h4>
                                <h4 class="subheading">Shuffle</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We will shuffle all the people who wanted to meet new people for lunch into groups. We will then email you the contact info for your group members.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                          <%=image_tag("3.jpg", class: "img-circle img-responsive") %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 3</h4>
                                <h4 class="subheading">Communicate</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Email each other to set up a lunch.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                          <%=image_tag("4.jpg", class: "img-circle img-responsive") %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 4</h4>
                                <h4 class="subheading">Have Fun</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Enjoy being social with new people and possibly make new friends!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Please Enter Your Info</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <%= form_for @user, :html => {:id => "contactForm"} do |f| %>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group">
                                  <%= f.text_field :name, class: "form-control", placeholder: "Your Name *" %>
                                </div>

                                <div class="form-group">
                                    <%= f.text_field :email, class: "form-control", placeholder: "Your Email *"%>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <%= f.submit "Submit", class: "btn btn-xl"%>
                                </div>
                            </div>
                        </div>
                        <% end %>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Shuffle 2016 </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
